numpy
scipy
pandas
matplotlib
opencv-python
scikit-learn
torch
torchvision
tqdm
ultralytics
tensorflow
torch 
torchvision
Pillow
firebase-admin
requests
RPi.GPIO
gpiozero
scikit-image
python-dotenv
flask
